lombok.addLombokGeneratedAnnotation = true
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableannotations += com.epam.edp.spring.boot.cadence.stub.annotation.ClientWorkflow
lombok.copyableannotations += com.epam.edp.spring.boot.cadence.stub.annotation.ChildWorkflow
lombok.copyableannotations += com.epam.edp.spring.boot.cadence.stub.annotation.GlobalActivity
lombok.copyableannotations += com.epam.edp.spring.boot.cadence.stub.annotation.LocalActivity
lombok.sneakyThrows.flagUsage = warning
lombok.log.fieldName = log
lombok.log.fieldIsStatic = true